<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Sentry Replay"
           Manufacturer="Daniel Chalmers"
           Version="$(var.Version)"
           UpgradeCode="98E07D4B-45EB-45A6-90A5-2A68E772F2E7"
           Scope="perUser">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of Sentry Replay is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <CustomAction Id="LaunchApp"
                  FileRef="SentryReplayExe"
                  ExeCommand=""
                  Execute="immediate"
                  Impersonate="yes"
                  Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="LaunchApp" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>

    <Feature Id="Main" Title="SentryReplay" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="SentryReplayRoot" Name="SentryReplay">
        <Directory Id="INSTALLFOLDER" Name="SentryReplay" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="SentryReplayExe" Source="publish/$(var.Arch)/SentryReplay.exe" KeyPath="yes" />
        <RemoveFile Id="RemoveOldFiles" Name="*.*" On="both" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
      <Files Include="publish/$(var.Arch)/**">
        <Exclude Files="publish/$(var.Arch)/SentryReplay.exe" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
